Package: com.chrishax.appStoreTroller
Name: ChrisH4xAppStoreTroller
Version: 1.0.0
Architecture: iphoneos-arm iphoneos-arm64
Description: Troll the App Store by spoofing your iOS version. Long-press Get/Install to pick any version (1-100). Works on rootful & rootless. Appears in Settings to enable/disable and view install history.
Maintainer: ChrisH4x <chrisedouardo999@gmail.com>
Author: ChrisH4x
Section: Tweaks
Depends: mobilesubstrate | libhooker | substitute, preferenceloader
Conflicts:
Replaces:
Installed-Size: 200
Homepage: https://github.com/dwinkoedits-ops/ChrisH4xAppStoreTroller
Depiction: https://github.com/dwinkoedits-ops/ChrisH4xAppStoreTroller
Tag: compatible_min::ios5.0, role::enduser
