<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>French</string>
    <key>CFBundleExecutable</key>
    <string>ChrisH4xAppStoreTrollerPrefs</string>
    <key>CFBundleIdentifier</key>
    <string>com.chrishax.appStoreTrollerPrefs</string>
    <key>CFBundleName</key>
    <string>ChrisH4xAppStoreTroller</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSPrincipalClass</key>
    <string>CHXPreferencesController</string>
</dict>
</plist>
